/* color */
:root {
    --blue: #0078d7;
    --black: #1a1c1d;
    --white: #ffffff;
    --shadow: 0px 0px 15px rgb(0 0 0 / 0.3);
    --transition: all 0.3s ease;
    --eee: #26292a;
    --text: #c0c0c0;
}

/* scrollbar */

html::-webkit-scrollbar {
    width: 8px;
    background-color: #424242;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 7px;
}

/* end scrollbar */

/* start main style css */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;

}

*:focus {
    box-shadow: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", "system-ui";
    background-color: var(--black);
    color: var(--white);

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav,
.container {
    width: 90%;
    margin: auto;
}

/* end main style css */

/* title */
.title {
    width: fit-content;
    margin: auto;
    position: relative;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 50px;
    color: var(--white);
}

.title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: var(--eee);
}

.title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 50%;
    height: 2px;
    z-index: 1;
    background-color: var(--white);
}

/* under contact  */
.un-contact {
    color: var(--text);
    width: fit-content;
    margin: 0 auto 15px;
    text-align: center;
}

.un-contact a {
    text-decoration: underline;
    color: #4d4dff;
}

@media (max-width: 430px) {
    .un-contact span {
        display: block;
        width: 100%;
    }
}

/* end main */

/* start navbar */
header {
    width: 100%;
    height: 70px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--eee);
    box-shadow: var(--shadow);
}

nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
}

nav li a {
    color: var(--text);
    transition: var(--transition);
    font-size: 17px;
    font-weight: 500;
}

nav li.active a,
nav li a:hover {
    color: var(--blue);
}

/* navbar responsive */

/* the btn navbar responsive */
.btn_ul_navbar {
    display: none;
}

/* responsive width 425px */
@media (max-width: 430px) {
    nav ul {
        display: none;
    }

    .btn_ul_navbar {
        display: block;
        margin: 0 0 0 auto;
    }
}

nav ul.show {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50px;
    margin: 10px 5px;
    box-shadow: 0px 8px 15px rgb(36 34 34);
    background-color: #000000cc;
    z-index: 100;
}

nav ul.show li {
    display: block;
}

/* end navbar */
/* start home */
.home {
    height: 100vh;
}

.home .container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
}

.home .container .img {
    width: 40%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .container .text {
    width: 50%;
}

.home .container .text h1 {
    font-size: 100px;
    font-weight: bold;
    line-height: 90px;
    user-select: none;
}

.home .container .text h1 span {
    display: block;
}

.home .container .text h3 {
    position: relative;
    font-size: 17px;
    margin: 40px 0px 40px 35px;
    font-weight: 400;
}

.home .container .text h3 span {
    display: block;
}

.home .container .text h3::before {
    content: '';
    position: absolute;
    width: 1.5px;
    height: 50px;
    top: 0;
    left: -25px;
    background-color: var(--blue);
}

.home .container .text h3::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 50px;
    top: 0;
    left: -22px;
    background-color: var(--blue);
}

.home .container .text .btn {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 23px;
}

.home .container .text .btn a {
    margin: 0 5px;
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border: 2px solid #0078d7;
    border-radius: 7px;
    transition: var(--transition);
}

.home .container .text .btn a:hover {
    background-color: var(--blue);
}

.home .container .text .btn div {
    width: 60%;
    display: flex;
    margin: 8px 0;
}

/* home responsive */

/* responsive width 1024px */
@media (max-width: 1024px) {
    .home .container .text h1 {
        font-size: 70px;
        line-height: 65px;
    }

    .home .container .text .btn div {
        width: auto;
    }
}

/* responsive width 768px */
@media (max-width: 768px) {
    .home .container .img {
        display: none;
    }

    .home .container .text {
        width: 100%;
    }

    .home .container .text .btn div {
        width: 100%;
    }
}

/* responsive width 425px */
@media (max-width: 430px) {
    .home .container .text h1 {
        text-align: center;
        font-size: 60px;
        line-height: 50px;
    }

    .home .container .text .btn {
        justify-content: center;
        margin: auto;
    }

    .home .container .text .btn div {
        justify-content: center;
    }
}

/* responsive width 375px */
@media (max-width: 380px) {
    .home .container .text h1 {
        font-size: 53px;
        line-height: 50px;
    }
}

/* responsive width 320px */
@media (max-width: 320px) {
    .home .container .text h1 {
        font-size: 45px;
        line-height: 45px;
    }

    .home .container .text h3::after,
    .home .container .text h3::before {
        height: 100%;
        width: 1px;
    }
}

/* end home */

/* start about us & skills */
.about .about_us .container {
    position: relative;
    padding: 15px;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: var(--shadow);
    background-color: var(--eee);
}

.about .about_us .container .text {
    width: 50%;
    color: var(--white);
}

.about .about_us .container .text .top {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.about .about_us .container .text .top .name {
    margin-left: 15px;
}

.about .about_us .container .text .top .name span {
    display: block;
    color: var(--text);
}

.about .about_us .container .text p {
    letter-spacing: 1px;
    line-height: 25px;
}

.about .about_us .container .text p span {
    color: var(--blue);
}

.about .about_us .container .form {
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 500px;
    height: 200px;
}

.about .about_us .container .form svg {
    width: 100%;
}

.about .skills {
    padding: 50px 0 80px 0;
}

.about .skills .container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.about .skills .container .box {
    width: 200px;
    height: 65px;
    padding: 0 20px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap: 7px;
    box-shadow: var(--shadow);
    background-color: var(--eee);
}

.about .skills .container .box p {
    font-size: 18px;
}

/* about responsive */

/* responsive width 768px */
@media (max-width: 770px) {
    .about .about_us .container .text {
        width: 100%;
        height: 490px;
    }
}

/* responsive width 425px */
@media (max-width: 430px) {
    .about .about_us .container .text {
        height: 500px;
    }

    .about .about_us .container .text p {
        height: 420px;
        overflow-x: scroll;
    }

    .about .about_us .container .form {
        display: none;
    }

    .about .skills {
        padding-top: 30px;
    }

    .about .skills .container {
        justify-content: center;
    }

    .about .skills .container .box {
        width: 180px;
    }
}

/* responsive width 375px */
@media (max-width: 380px) {
    .about .skills .container .box {
        width: 150px;
        padding: 0 5px;
    }
}

/* responsive width 320px */
@media (max-width: 330px) {
    .about .skills .container .box {
        width: 120px;
        height: 100px;
        padding: 0 20px;
        justify-content: center;
        flex-direction: column;
    }
}

/* end about us & skills */
/* start protofailo */

.protofailo .doc {
    width: 35%;
    margin: auto;
    position: relative;
    text-align: center;
    font-size: 16px;
    margin-top: -30px;
    margin-bottom: 50px;
    color: var(--white);
}

.protofailo .container .box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.protofailo .container .card {
    height: 420px;
    position: relative;
    background-color: var(--eee);
    margin: 0 15px 15px;
    overflow: hidden;
}

.protofailo .container .card a .img {
    width: 100%;
    height: 90%;
    background-position: top;
    background-size: cover;
    border-radius: 7px;
    transition: var(--transition);
}

.protofailo .container .card a:hover .img {
    background-position: bottom;
    transition: 6s;
}

.protofailo .container .card .name {
    height: 10%;
    padding: 15px 10px;
    color: var(--white);
    background-color: var(--black);
}

.protofailo .container #card_1 {
    width: 60%;
}

.protofailo .container #card_2 {
    width: 35%;
}

.protofailo .container #card_3 {
    width: 35%;
}

.protofailo .container #card_4 {
    width: 60%;
}

.protofailo .container #card_5 {
    width: 60%;
}

.protofailo .container #card_6 {
    width: 35%;
}

.protofailo .container #card_7,
.protofailo .container #card_8,
.protofailo .container #card_9 {
    width: 31%;
}

/* protofailo responsive */

/* responsive width 1024px */
@media (max-width: 1024px) {

    .protofailo .container #card_1,
    .protofailo .container #card_2,
    .protofailo .container #card_3,
    .protofailo .container #card_4,
    .protofailo .container #card_5,
    .protofailo .container #card_6,
    .protofailo .container #card_7,
    .protofailo .container #card_8,
    .protofailo .container #card_9 {
        width: calc(50% - 30px);
        height: 320px;
        height: 400px;
    }
}

/* responsive width 425px */
@media (max-width: 430px) {

    .protofailo .doc {
        width: 80%;
    }

    .protofailo .container #card_1,
    .protofailo .container #card_2,
    .protofailo .container #card_3,
    .protofailo .container #card_4,
    .protofailo .container #card_5,
    .protofailo .container #card_6,
    .protofailo .container #card_7,
    .protofailo .container #card_8,
    .protofailo .container #card_9 {
        width: 100%;
    }
}

/* end protofailo */

/* start contact */
.contact .container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
}

.contact .container form {
    width: 50%;
}

.contact .container form>div {
    padding: 20px;
}

.contact .container form .name,
.contact .container form .email,
.contact .container form .phone_number,
.contact .container form .doc,
.contact .container form .btn {
    margin: 15px 0;
}

.contact .container form .name label,
.contact .container form .email label,
.contact .container form .phone_number label {
    display: block;
    margin: 5px;
    color: var(--white);
}

.contact .container form .name input,
.contact .container form .email input,
.contact .container form .phone_number input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 7px;
    color: var(--white);
    border: 1px solid var(--white);
    background-color: var(--eee);
}

.contact .container form .name input::placeholder,
.contact .container form .email input::placeholder,
.contact .container form .phone_number input::placeholder {
    color: var(--text);
}

.contact .container form .doc textarea {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 7px;
    color: var(--white);
    border: 1px solid var(--white);
    background-color: var(--eee);
}

.contact .container form .doc textarea::placeholder {
    color: var(--text);
}

.contact .container form .btn button {
    font-size: 16px;
    border-radius: 7px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: var(--blue);
    color: var(--white);
}

.contact .container .social {
    width: 50%;
    margin-top: 50px;
}

.contact .container .social .text {
    width: 90%;
    font-size: 16px;
    text-align: center;
    margin: auto;
}

.contact .container .social .text span {
    text-decoration: underline;
    text-decoration-color: var(--blue);
}

.contact .container .social .box {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.contact .container .social .box .card {
    transition: var(--transition);
}

.contact .card:hover {
    transform: scale(1.2);
}

#linkedin svg:hover {
    fill: #0a66c2;
}

#instagram svg:hover {
    color: #e1306c;
}

#whatsapp svg:hover {
    color: #008000;
}

#envelope svg:hover {
    color: #b97b29;
}

/* navbar responsive */

/* responsive width 768px */
@media (max-width: 770px) {
    .contact .container {
        flex-direction: column;
    }

    .contact .container .social,
    .contact .container form {
        width: 100%;
    }

    .contact .container .social {
        margin-bottom: 50px;
    }
}

/* end contact */