.protofailo .container .box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.protofailo .container .card {
    height: 400px;
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: var(--shadow);
    background-color: var(--eee);
    margin: 0 15px 15px;
}

.protofailo .container .name {
    font-size: 18px;
    margin: 20px 0;
}

.protofailo .container .card a .img {
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: cover;
    transition: var(--transition);
}

.protofailo .container .card a:hover .img {
    background-position: bottom;
    transition: 6s;
}

.protofailo .container #card_1 {
    width: 60%;
}

.protofailo .container #card_2 {
    width: 35%;
}

.protofailo .container #card_3 {
    width: 35%;
}

.protofailo .container #card_4 {
    width: 60%;
}

.protofailo .container #card_5 {
    width: 60%;
}

.protofailo .container #card_6 {
    width: 35%;
}

.protofailo .container #card_7,
.protofailo .container #card_8,
.protofailo .container #card_9 {
    width: 31%;
}

/* contact  */

.un-contact {
    color: var(--text);
    width: fit-content;
    margin: 0 auto 15px;
    text-align: center;
}

.un-contact a {
    text-decoration: underline;
    color: #4d4dff;
}

/* protofailo responsive */

/* responsive width 1024px */
@media (max-width: 1024px) {

    .protofailo .container #card_1,
    .protofailo .container #card_2,
    .protofailo .container #card_3,
    .protofailo .container #card_4,
    .protofailo .container #card_5,
    .protofailo .container #card_6,
    .protofailo .container #card_7 {
        width: calc(50% - 30px);
        height: 320px;
    }
}

/* responsive width 425px */
@media (max-width: 430px) {

    .protofailo .container #card_1,
    .protofailo .container #card_2,
    .protofailo .container #card_3,
    .protofailo .container #card_4,
    .protofailo .container #card_5,
    .protofailo .container #card_6,
    .protofailo .container #card_7 {
        width: 100%;
    }

    .un-contact span {
        display: block;
        width: 100%;
    }
}

/* end protofailo */